
body{
    background: linear-gradient(to right, #783111, #deab4f, #783111); 
}
img{
    height: 20vh;
    display: block;
    position: absolute;
}
img:hover{
    border: solid;
}
#burn{
    display: inline-block;
    margin-right: 15vh;
}
.ace{
    display: inline-block;
    height: 20vh;
    width: 15vh;
    border: solid;    
}
[class="1"]{
    display: inline-block;
    margin-right: 15vh;
}
[class="2"]{
    display: inline-block;
    margin-right: 15vh;
}
[class="3"]{
    display: inline-block;
    margin-right: 15vh;
}
[class="4"]{
    display: inline-block;
    margin-right: 15vh;
}
[class="5"]{
    display: inline-block;
    margin-right: 15vh;
}
[class="6"]{
    display: inline-block;
    margin-right: 15vh;
}
[class="7"]{
    display: inline-block;
    margin-right: 15vh;
}